body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background-color: bisque;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25) ;
    padding: 1rem;
    margin-bottom: 2rem;
}
header span{
font-weight: bold;
}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}
img{
    max-width: 200px;
    max-height: 200px;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    flex-basis: 300px;
    flex-grow: 1;
    margin-bottom: 1rem;
    transition: 200ms;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25) ;
    transition: 200ms;
}
#contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
}
.tarjeta p{
    background-color: beige;
    padding: 20px;
}
.tarjeta:hover{
    transform: scale(1.05);
}
ul{
    background-color: beige;
    padding: 20px;
    margin-bottom: 1rem;
}
li{
    font-weight: bold;
    list-style-type: disc;
}
footer{
    background-color: beige;
    margin-top: auto;
    padding: 1rem;
}